extends ../../layouts/default.jade

block content

  // Header
  .w3-opacity
    span.w3-button.w3-xxlarge.w3-white.w3-right(onclick="w3_open()")
      i.fa.fa-bars
    |  
    .w3-clear
    header.w3-center.w3-margin-bottom
      h1
        b PHOTOLIO
      |   
      p
        b A template made by w3.css for photographers.
      
        
  // Photo Grid
  #myGrid.w3-row.w3-row-padding(style="margin-bottom:128px")
    .w3-third
      img(src="https://www.w3schools.com/w3images/rocks.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/sound.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/woods.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/rock.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/nature.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/mist.jpg", style="width:100%")
    |   
    .w3-third
      img(src="https://www.w3schools.com/w3images/coffee.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/bridge.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/notebook.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/london.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/rocks.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/avatar_g.jpg", style="width:100%")
    |   
    .w3-third
      img(src="https://www.w3schools.com/w3images/mist.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/workbench.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/gondol.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/skies.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/lights.jpg", style="width:100%")
      |     
      img(src="https://www.w3schools.com/w3images/workshop.jpg", style="width:100%")
  // End Page Content
  // Footer
  footer.w3-container.w3-padding-64.w3-light-grey.w3-center.w3-opacity.w3-xlarge(style="margin-top:128px")
    i.fa.fa-facebook-official.w3-hover-opacity
    |   
    i.fa.fa-instagram.w3-hover-opacity
    |   
    i.fa.fa-snapchat.w3-hover-opacity
    |   
    i.fa.fa-pinterest-p.w3-hover-opacity
    |   
    i.fa.fa-twitter.w3-hover-opacity
    |   
    i.fa.fa-linkedin.w3-hover-opacity
    |   
    p.w3-medium
      | Powered by 
      a.w3-hover-text-green(href="https://www.w3schools.com/w3css/default.asp", target="_blank") w3.css

 
script(src="/js/gallery.js")
  
