extends ../admin_layout
block mainContent
    .box
      .box-header
        a.btn.btn-success(href='items/new')
          span.fa.fa-plus
          |  Add Item
        .box-tools
          ul.pagination.pagination-sm.no-margin.pull-right
            li
              a(href='', ref='#')= "«"
            li
              a(href='#1')= 1
            li
              a(href='#2')= 2
            li
              a(href='#')= "»"
      .box-body.no-padding
        table.table
          thead
              tr
                th(style='width: 10px') #
                th Name
                th Logo
                th(style='width: 50px')
          tbody
              each item in items
                tr(row='item._id')
                  td= item._id
                  td= item.category_name
                  td
                    img(src='item.category_logo', width='35', height='35')
                  td
                    span.fa.fa-edit.edit_item(data-id='item._id')
                    span.fa.fa-trash.delete_item(data-id='item._id', data-target='#delete_item')
      .box-footer
