.down-content {
	margin-top: 83px;
}

.paging {

	.paging-item {
		text-decoration: none;
		color: #ff9800;
		border-bottom: 1px solid  #ffffff;

		&.active {
			background-color: #ff9800;
			color: #ffffff;
		}

		&:hover {
			background-color: #ff5722;
			color: #ffffff;
		}


	}
}