doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='../../assets/css/bootstrap.css')
    link(rel='stylesheet', href='../../assets/css/dataTables.bootstrap.css')
    link(rel='stylesheet', href='../../assets/css/font-awesome.css')
    link(rel='stylesheet', href='../../assets/css/AdminLTE.min.css')
    link(rel='stylesheet', href='../../assets/css/skins.css')
    link(rel='stylesheet', href='../../assets/css/custom_styles.css')
    script(src='../../assets/js/jquery.js')
    script(src='../../assets/js/jquery.dataTables.js')
    script(src='../../assets/js/dataTables.bootstrap.js')
  body.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        a.logo(href='#')
        nav.navbar.navbar-static-top(role='navigation')
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
      aside.main-sidebar
        section.sidebar(style='height: auto;')
          ul.sidebar-menu
            li.treeview(class='categories')
              a(href='/admin/categories')
                i.fa.fa-user
                span Categories
            li.treeview(class='items')
              a(href='/admin/items')
                i.fa.fa-user
                span Items
            li.treeview(class='settings')
              a(href='/admin/settings')
                i.fa.fa-user
                span Settings
      .content-wrapper(style='min-height: 900px;')
        section.content-header
          h1!= title
        section.content
          block mainContent