doctype html
html
  title W3.CSS Template
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
  style.
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
    .w3-third img:hover{opacity: 1}
  body.w3-light-grey.w3-content(style='max-width:1600px')
    // Sidebar/menu
    nav#mySidebar.w3-sidebar.w3-bar-block.w3-white.w3-animate-left.w3-text-grey.w3-collapse.w3-top.w3-center(style='z-index:3;width:300px;font-weight:bold')
      h3.w3-padding-64.w3-center
        img(src='http://localhost:3030/assets/logo.png' width='50' height='50')
        p
          | ALEKO
          br
          | ART
      a.w3-bar-item.w3-button.w3-padding.w3-hide-large(href='javascript:void(0)', onclick='w3_close()') CLOSE
      a.w3-bar-item.w3-button(href='#', onclick='w3_close()') GALLERY
      a.w3-bar-item.w3-button(href='#about', onclick='w3_close()') ABOUT ME
      a.w3-bar-item.w3-button(href='#contact', onclick='w3_close()') CONTACT
    // Top menu on small screens
    header.w3-container.w3-top.w3-hide-large.w3-white.w3-xlarge.w3-padding-16
      span.w3-left.w3-padding ALEKO ART
      a.w3-right.w3-button.w3-white(href='javascript:void(0)', onclick='w3_open()') ☰
    // Overlay effect when opening sidebar on small screens
    #myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity(onclick='w3_close()', style='cursor:pointer', title='close side menu')
    // !PAGE CONTENT!
    .w3-main(style='margin-left:300px')
      // Push down content on small screens
      .w3-hide-large(style='margin-top:83px')
      // Photo grid
      .w3-row
        .w3-third
          img(src='https://www.w3schools.com/w3images/natureboy.jpg', style='width:100%', onclick='onClick(this)', alt='A boy surrounded by beautiful nature')
          img(src='https://www.w3schools.com/w3images/girl_mountain.jpg', style='width:100%', onclick='onClick(this)', alt='What a beautiful scenery this sunset')
          img(src='https://www.w3schools.com/w3images/girl.jpg', style='width:100%', onclick='onClick(this)', alt='The Beach. Me. Alone. Beautiful')
        .w3-third
          img(src='https://www.w3schools.com/w3images/boy.jpg', style='width:100%', onclick='onClick(this)', alt='Quiet day at the beach. Cold, but beautiful')
          img(src='https://www.w3schools.com/w3images/man_bench.jpg', style='width:100%', onclick='onClick(this)', alt='Waiting for the bus in the desert')
          img(src='https://www.w3schools.com/w3images/natureboy.jpg', style='width:100%', onclick='onClick(this)', alt='Nature again.. At its finest!')
        .w3-third
          img(src='https://www.w3schools.com/w3images/girl.jpg', style='width:100%', onclick='onClick(this)', alt='Canoeing again')
          img(src='https://www.w3schools.com/w3images/girl_train.jpg', style='width:100%', onclick='onClick(this)', alt='A girl, and a train passing')
          img(src='https://www.w3schools.com/w3images/closegirl.jpg', style='width:100%', onclick='onClick(this)', alt='What a beautiful day!')
      // Pagination
      .w3-center.w3-padding-32
        .w3-bar
          a.w3-bar-item.w3-button.w3-hover-black(href='#') «
          a.w3-bar-item.w3-black.w3-button(href='#') 1
          a.w3-bar-item.w3-button.w3-hover-black(href='#') 2
          a.w3-bar-item.w3-button.w3-hover-black(href='#') 3
          a.w3-bar-item.w3-button.w3-hover-black(href='#') 4
          a.w3-bar-item.w3-button.w3-hover-black(href='#') »
      // Modal for full size images on click
      #modal01.w3-modal.w3-black(style='padding-top:0', onclick="this.style.display='none'")
        span.w3-button.w3-black.w3-xlarge.w3-display-topright ×
        .w3-modal-content.w3-animate-zoom.w3-center.w3-transparent.w3-padding-64
          img#img01.w3-image
          p#caption
      // About section
      #about.w3-container.w3-dark-grey.w3-center.w3-text-light-grey.w3-padding-32
        h4
          b About Me
        img.w3-image.w3-padding-32(src='https://www.w3schools.com/w3images/avatar_hat.jpg', alt='Me', width='600', height='650')
        .w3-content.w3-justify(style='max-width:600px')
          h4 Alexandr Badalyan
          p
            | Text.
          p mail: example@example.com
          p tel: 5353 35531
          hr.w3-opacity
          .w3-row-padding(style='margin:0 -16px')
            .w3-half
              ul.w3-ul.w3-white.w3-center.w3-opacity.w3-hover-opacity-off
                li.w3-black.w3-xlarge.w3-padding-32 Professional Skills
                li.w3-padding-16 Handmade Ceramics
                li.w3-padding-16 Sculpture Artist
                li.w3-padding-16 Architecture
      // Contact section
      #contact.w3-container.w3-light-grey.w3-padding-32.w3-padding-large
        .w3-content(style='max-width:600px')
          h4.w3-center
            b Contact Me
          p
            | Sample text!
          form(action='/action_page.php', target='_blank')
            .w3-section
              label Name
              input.w3-input.w3-border(type='text', name='Name', required='')
            .w3-section
              label Email
              input.w3-input.w3-border(type='text', name='Email', required='')
            .w3-section
              label Message
              input.w3-input.w3-border(type='text', name='Message', required='')
            button.w3-button.w3-block.w3-black.w3-margin-bottom(type='submit') Send Message
      // Footer
      footer.w3-container.w3-padding-32.w3-grey
        .w3-row-padding
          .w3-third
            h3 INFO
            p
              | Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
          .w3-third
            h3 BLOG POSTS
            ul.w3-ul
              li.w3-padding-16.w3-hover-black
                img.w3-left.w3-margin-right(src='https://www.w3schools.com/w3images/workshop.jpg', style='width:50px')
                span.w3-large Lorem
                br
                span Sed mattis nunc
              li.w3-padding-16.w3-hover-black
                img.w3-left.w3-margin-right(src='https://www.w3schools.com/w3images/gondol.jpg', style='width:50px')
                span.w3-large Ipsum
                br
                span Praes tinci sed
      // End page content
    script.
      // Script to open and close sidebar
      function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
      }
      function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
      }
      // Modal Image Gallery
      function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
      }
