.noImage{
    display: none;
}

.logo_box{
    min-height: 0;
    /*width: 60px;*/
    position: relative;
    padding: 15px;
    margin-top: 10px;

}

#game_logo_img{
    min-height: 0;
    height: 60px;
    width: 60px;
    border: none;
}

.dropzone{
    padding: 5px 9px !important;
}
/*.delete_btn {
    position: absolute;
    right: -5px;
    top: -7px;
    cursor: pointer;
}*/


.file-upload-container{
    padding: 0;
}

